[submodule "Omelette/Dependencies/imgui"]
	path = Omelette/Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Omelette/Dependencies/minhook"]
	path = Omelette/Dependencies/minhook
	url = https://github.com/TsudaKageyu/minhook.git
